@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>How to contact us</h3>

<address>
    19 The Pond Road<br />
    Vaughn, ON L4G-7J8<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:sseyyedizadeh@myseneca.ca">sseyyedizadeh@myseneca.ca</a><br />
</address>